<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analsis Rules" Description="Microsoft code analysis and StyleCop rules" ToolsVersion="15.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Include Path="stylecop.analyzers.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1001" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1412" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
  </Rules>
</RuleSet>