<h1>APIs</h1>
<ul>
    <li>
        <h2><code>GET http://localhost:5000/product/</code></h2>
        <p>Use this end point to retrieve the three products available</p>
        <h4>Example response:</h4>
        <pre><code [innerHTML]="getProductsResponse"></code></pre>
    </li>
    <li>
        <h2><code>POST http://localhost:5000/basket/</code></h2>
        <p>Use this end point to submit a basket. The response will return the basket (re-validated to prevent front-end manipulation of the items) with a unique ID for the basket.</p>
        <h4>Example (POST body):</h4>
        <pre><code [innerHTML]="putBasketBody"></code></pre>
        <h4>Example (POST response):</h4>
        <pre><code [innerHTML]="putBasketResponse"></code></pre>
    </li>
    <li>
        <h2><code>GET http://localhost:5000/basket/&lt;basketId&gt;</code></h2>
        <p>Use this end point to retrieve the price for a previously submitted basket.</p>
        <h4>Example response:</h4>
        <pre><code>1.8</code></pre>
    </li>
</ul>
